@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  background-color: black;
  box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Hairline', sans-serif;
    font-weight: bold;
}

/* .disable-pointer-events {
  pointer-events: none;
}

.disable-pointer-events .LoginWindow {
  pointer-events: auto;
} */